---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/globle.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
        <a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
        <a href="/notes/">笔记</a>
		<h1>网络日志</h1>
		<p>在这个页面，将展示有关我的博客内容。</p>
		<h2>2024年6月13日</h2>
			<h3>今天上了《网络编辑与制作的课程》真是收获满满呢！</h3>
			<h3>我要成为前端专家！</h3>
			<img src="https://img2.baidu.com/it/u=3809749531,4215588449&fm=253&fmt=auto&app=138&f=GIF?w=366&h=296">
		<h2>2024年6月13日 星座运势</h2>
		<h3>巨蟹座为什么不理你？</h3>
			<h3>因为有壁垒。</h3>
			
			<h3>巨蟹座，习惯在一开始于内心深处筑起一道高墙，总会让你感觉既近又远，既亲和又陌生。</h3>
			
			<h3>这个壁垒就像一座坚硬的冰山，需要你用耐心和如春阳般的温暖去慢慢融化，一点一滴，直至它化作涓涓细流，滋润心田。</h3>
			
			<h3>初相识阶段，巨蟹座往往有一种本能的自我保护意识，显得矜持而保守。他们并不喜欢在陌生的场合中主动展示自己，更不愿意在自己不喜欢的场合中去迎合他人。</h3>
			
			<h3>在一个大家都互不熟悉的社交饭局中，巨蟹座最容易成为那个不动声色、默默倾听，必要时候递盘子倒酒水的人。</h3>
			
			<h3>保持礼节却不张扬，更不会为了讨好迎合他人而说一些违心的场面话。如果有人来主动搭话或者加好友，他们也只会淡淡地以示礼貌甚至委婉拒绝。</h3>
			
			<h3>你会觉得他们是一群很有分寸但又不易走近的淡人。</h3>
			
			<h3>的确，在没有接受你进入自己生活的时候，巨蟹座的底色和真心会隐藏得很好，这并不是说他们善于伪装或者高傲冷漠，而是他们内心深处对于人情的小心翼翼。</h3>

			<h3>他们的亲身经历告诉自己，毫无保留的真诚只会让自己遍体鳞伤，前期的筛选是他们必不可少的一步。因为一旦动情，那种情绪不受控的感觉是巨蟹座不愿意触及的。</h3>
			<h3>毕竟越是认真的人，越会害怕投入。</h3>
			<h3>对于巨蟹座而言，任何一个人闯入自己的世界，都如同那投入湖面的石子，打破那份来之不易的安定。他们会本能地害怕自己的安全感遭到破坏，害怕那片静谧的湖面被外界的风浪所侵扰。</h3>
			<h3>因此，巨蟹座在面对陌生的人事物时，往往会显得格外谨慎，他们需要时间去适应，去接受这份突如其来的变化。</h3>
			<h3>哪怕你并无恶意、只是出于对巨蟹座的好感和喜欢，但只要他们还没有接受你，那你过于主动热情的行为就会加速他们筑起一道又一道的高墙。</h3>
			<h3>而这个“接受”，一方面取决于他们对你的了解程度，另一方面取决于他们自己当下的状态是否准备好迎接一段新的关系。</h3>
			<h3>如果你在不合时宜的时候，过快地拉近彼此的距离，那么面对你的，很有可能就是突如其来的断崖式关系转变——突然的冷淡甚至突然的拉黑断联。</h3>
			<h3>这时的你一定会觉得莫名其妙，因为自己并没有做错什么，并没有伤害对方。</h3>
			<h3>但很多时候，他们认为的“伤害”，并不是真的伤害，而是他们心中的“假想敌”。</h3>
			<h3>“如果我现在接受了你，你会不会频繁来打扰我的生活，扰乱我的节奏。”</h3>
			<h3>“如果我真的上头了，你会不会又像前任那样欺骗我感情。”</h3>
			<h3>等等诸如此类。</h3>
			<h3>因此让他们接受你的过程，是极其缓慢的，是对你整个人全方位考量的过程。</h3>
			</h3>
			<h3>他们看似友好的外表下，隐藏的是对自己防线的坚守。毕竟巨蟹座内心常常充满了太多顾虑，且很多时候又不得不做出选择。
			</h3>
			<h3>那么在他们还没有打心底里接受你闯进自己生活的时候，还没能坚定认为你是真心对待自己的时候，他们只好选择将这层壁垒牢牢地、稳稳地树立在两个人之间。</h3>
			<h3>尤其当他们觉得你是有“攻击性”的或者你根本不在乎自己的时候，他们又会陷入另一种偏执。</h3>
			<h3>这个时候，不管你怎么去说，他们可能都难以接受你的解释，更别提愿意去好好沟通，往往回应你的只有冷脸。</h3>
			<h3>因为巨蟹座一旦代入到这种情绪，他们根本无法理智思考，只会用自己认定的想法去不断加深对你的厌恶。任何的解释都无济于事，只会让他们觉得你虚伪可笑。</h3>
			<h3>但正如湖面最终会恢复平静一样，巨蟹座也会在调整的过程中重新找到属于自己的安定感。</h3>
			<h3>他们会在筑起一道防线的同时，也学会在适当的时候敞开心扉，接纳那些真正值得信任的人。</h3>
			
			<h3>如果你想要接近巨蟹座，就需要有足够的真诚和耐心，去观察他们的喜好和习惯，找到与他们的共鸣，通过共鸣来找到共同感受，从而逐渐打破他们内心的壁垒。</h3>
		
			<h3>因为共鸣往往意味着一种熟悉感，而熟悉感会让巨蟹座逐渐打开自己，一点一点卸下防备。</h3>
		
			<h3>当你有幸走进巨蟹座的世界，那么你真的会得到超出你预期的爱，而这份爱，同样也需要你的回馈和珍惜。</h3>
			
			<h3>如果你和一个巨蟹座闹了矛盾，他们最终关注的一定不是事情本身，而是你的心是否还在自己身上。</h3>
			
			<h3>这时，巨蟹座可能会表现得像一个受了委屈的孩子，没有得到妈妈的理解和重视，觉得妈妈不爱自己了。
			
			如果你能够用耐心和爱重新让巨蟹座感受到自己是被在乎的，巨蟹座就会擦干眼泪，还你一个大大的拥抱。</h3>
			
			<h3>当你给予巨蟹座足够的爱和共鸣时，你就会发现他们其实是非常温暖和可爱的人，他们会把私人的爱全权交付与你。
			
			
			
			因为你们之间真的没有壁垒。</h3>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		text-align: center;
		font-size: 25px;
    }
h3{
	font-size: 16px; */
    text-indent:2em;
    color:pink;
	text-indent:2em;
}
    p{
    font-size: 20px; */
    text-indent:2em;
    color:rgb(200, 127, 139);
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>

