<footer>
    <hr/>
    <p><span>zy</span>2024</p>
    </footer>



    <style>
        footer{
            font-size: 12px;
            color:rgb(74, 16, 45);
            text-align: center;
        }
    </style>