<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/notes/">笔记</a>

<style>
    a{
        color: rgb(252, 255, 255);
        text-decoration: none;
        margin-right: 2em;
    }
    a:hover{
        text-decoration: underline;
        background-color: brown;
    }
</style>